.full{
    margin-right: 5px;
    margin-left: 5px;  
    background-color: #212529;
}

.head1{
    background-color: #212529;
}

.intro{
    margin-left: 7rem;
    color: #888;
    font-size: 20px;
}
.me1{
    margin-left: 4rem;
    font-size: 55px;
    color: white;
}
.me1 .me{
    color: #ff651c;
}


.contact{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;  
    background-color: #212529;
}
.man{
    margin:11rem 1.1rem;
    
}
.man .img{
    border-radius: 50px solid black;
}
.paragraph{
    
    padding-left: 5px;
    padding-right: 10px;
}
.am{
    padding-top: 10px;
    color: white;
    font-size: 25px;
}
.am .i{
    color: #ff651c;
}
.para{

    color: #888;
    padding-right: 20px;
}
.self{
    color: white;
    font-size: 38px;
}
.self .ux_ui{
    color: #ff651c;
}
.self .wb{
    color: #ff651c;
}


.personal{
    color:white;
    font-size: 30px; 
}
.personal .inf{
    color: #ff651c;
}
.menu{
    color: aqua;
}
.one{
    color: white; 
}
.two{
    color: white;
} 
.paragraph .about{
    font-size: 20px;

    color: white;
}
.paragraph .about .FN{
    color: #888;
}
.paragraph .about-one .email{
    color: #ff651c;
}


.paragraph .about-one .FN{
    font-size: 20px;
    color: #888;
}
.paragraph .about-one .nmbr{
    color: #ff651c;
}

.menu{
    display: flex;
}
.about-one{
    margin-left: 175px;
}

.dwln{
    background-color: #ff651c;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    color: white;
    
}
.dwln:hover{
    background-color: #888;
}
/* end top */

.top-cv{
    background-color: #212529;
    margin-top: 6rem;
    color: white;   
}
.chck{
    color: #888;
    font-size: 17px;
    text-align: center;
}
.resm{
    color: #ff651c;
}
.resume{
    text-align: center;
    font-size: 55px;
}

.CV{
    display: flex;
    background-color: #212529;
    margin-left: 3rem;
    color: white;
}

.Edu{
 color:white;
 text-align: center;
 font-size: 30px;
}
.education{
    margin: 10px;
    
}
.education-one{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px ;
    padding-bottom: 1rem;
    margin-right: 10px; 
    background-color: #18232e; 
}
.education-two{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 1rem;
    margin-top: 15px; 
    background-color: #18232e; 

}
.education-three{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 20px; 
    padding-top:10px ;
    padding-bottom: 1rem;
    margin-top: 15px; 
    background-color: #18232e; 
}

.exp{
    color: white;
    text-align: center;
    font-size: 30px;
}

.experience{
    margin: 10px;
    margin-right: 10px;
    margin-left: 5rem;
}
.experience-one{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 1rem;
    padding-top:10px ;
    padding-right: 20px; 
    background-color: #18232e; 
}
.experience-two{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top:10px ;
    padding-bottom: 1rem;
    margin-top: 15px; 
    background-color: #18232e; 
}
.experience-three{
    border-left: 2px solid #ff651c;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top:10px ;
    padding-bottom: 1rem;
    margin-top: 15px; 
    background-color: #18232e; 
}

.clr{
    color: #ff651c;
    font-size: 25px;
    padding-left: 10px;
}
.wht{
    color: white;
    padding-left: 10px;
}
.lm{
    color: #888;
    padding-left: 10px;
    
}
/* end cv */


.skill-head{
    text-align: center;
    padding-top: 10rem;
    color: white;
    font-size: 45px;
}
.head-one{
    font-size: 15px;
    color: #888;
}

.head-two{
    color: #ff651c;

}

.skill-head-one{
    display: flex;
    color: white;   
}
.design-skl{
    text-align: center;
    padding-left: 15rem;
    padding-right: 20px; 
    font-size: 25px;  
}
.skl{
    color: #ff651c;
}

.coding-skl{
    text-align: center;
    padding-left: 19rem;
    padding-right: 20px; 
    font-size: 25px; 
}


.Skill{
    display: flex;
    padding-top: 1rem;
    margin-right: 5px;
     margin-left: 5px;
     color: white;
}

.Design-Skills{
    margin-left: 3.9rem;
    margin-right: 5rem;
    padding-top: 15px;
    padding-left: 2rem;
    padding-right: 27.3rem;
    background-color: #18232e;
    border-radius: 10px;
    border-left: 2px solid #ff651c;
    border-right: 2px solid #ff651c;

}
.Design-Skills li{
    list-style-type: none;
    margin: 50px 0px;
    font-weight: bolder;
    position:relative;
}

.Design-Skills li::before{
    content: '';
    position: absolute;
    top: calc(120% + 20%);
    background-color: rgb(170,167,173);
    width: 570%;
    height: 100%;
    border-radius: 10PX ;
}

.coding-skill{
    margin-left: 3rem;
    margin-right: 5rem;
    padding-top: 15px;
    padding-left: 3rem;
    padding-right: 25rem;
    background-color: #18232e;
    border-radius: 10px;
    border-left: 2px solid #ff651c;
    border-right: 2px solid #ff651c;
}

.ck{
    text-align: center;
    padding-left:10rem;
    

}
.coding-skill li{
    list-style-type: none;
    margin: 50px 0px;
    font-weight: bolder;
    position:relative;
}
.coding-skill li::before{
    content: '';
    position: absolute;
    top: calc(120% + 20%);
    background-color: rgb(170,167,173);
    width: 700%;
    height: 100%;
    border-radius: 10px;
}
/* skill end */

.four{
    text-align: center;
    margin-top: 10rem;
    font-size: 20p;
    color: white;

}
.lrm{
    margin-left: 15rem;
    margin-right: 15rem;
    padding-left: 4rem;
    padding-right: 3rem;
    color: #888;
}

.service{
    color: #888;
}
.mys{
    font-size: 50px;
}
.my-service{
    color: #ff651c;
}
/* end */


.Service-list{
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 17px;
}
.list-one{
    padding-top: 10px;
    margin-left: 1.1rem;
    padding-left: 20px;
    padding-right: 10px;
    margin-right:30px;
    border: 4px solid bisque;
    border-radius: 10px;
    background-color: #18232e;
}
.list-one:hover{
    background-color: rgb(84, 48, 185);
}

.list-two{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    border: 4px solid bisque;
    border-radius: 10px;
    background-color: #18232e;
}
.list-two:hover{
    background-color: rgb(84, 48, 185);
}
.list-three{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-right: 30px;
    border: 4px solid bisque;
    border-radius: 10px;
    background-color: #18232e;
}
.list-three:hover{
    background-color: rgb(84, 48, 185);
}
.list-four{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    border: 4px solid bisque;
    border-radius: 10px;
    background-color: #18232e;
}
.list-four:hover{
    background-color: rgb(84, 48, 185);
}

.img{
    padding-top: 10px;
    padding-left: 90px;
}
.list-para{
    text-align: center;
}
.listpara{
    color: #ff651c;
    font-size: 30px;
}
.loren{
    color: #888;
}






.service-list-two{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 17px;
}

